# ignore everything in the root except the "wp-content" directory.
wp/

# ignore node dependency directories
node_modules/
# ignore vendor dependencies
vendor/

# ignore composer installed themes and plugins
content/plugins/
content/themes/

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore environment file
.env

# ignore certificate files
.certs/
